.searchContainer {
	background-color: var(--primary-9);
	border: 1px solid transparent;
	border-radius: 0.5rem;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	transition: all 0.3s;
}

@media (max-width: 425px) {
	.searchContainer {
		display: none;
	}
}

.searchContainer:hover {
	border-color: var(--primary-8);

	.searchText {
		color: var(--primary-1);
	}
}

.searchIconContainer {
	align-items: center;
	display: flex;
	gap: 0.25rem;
}

.searchText {
	color: var(--primary-4);
	font-size: var(--font-size-0-75);
	padding-right: 2rem;
	transition: color 0.3s ease;
}

