---
import { getCollection } from 'astro:content'
import ProseLayout from '@layouts/ProseLayout.astro'
const { entry, minutesRead } = Astro.props
const { Content } = await entry.render()
export async function getStaticPaths() {
    const noteEntries = await getCollection('notes', ({ data }) => {
        return import.meta.env.PROD ? data.draft !== true : true
    })
    return await Promise.all(
        noteEntries.map(async (entry) => {
            const { remarkPluginFrontmatter } = await entry.render()
            return {
                params: { slug: entry.slug },
                props: {
                    entry,
                    minutesRead: remarkPluginFrontmatter.minutesRead,
                },
            }
        })
    )
}
---

<ProseLayout transition:animate="slide" title={entry.data.title}>
    <h1>{entry.data.title}</h1>
    <p>
        {new Date(entry.data.pubDate).toLocaleDateString()} &dot; {minutesRead}
    </p>
    <Content />
    <div id="giscus_container">
        <script
            is:inline
            src="https://giscus.app/client.js"
            data-repo="steelesh/portfolio"
            data-repo-id="R_kgDOMxGhnw"
            data-category="Note / Work Comments"
            data-category-id="DIC_kwDOMxGhn84CjRdB"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="noborder_dark"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async></script>
    </div>
</ProseLayout>
