main {
	--color-accent-emphasis: #4d9375;
	--color-accent-fg: #4d9375;
	--color-accent-muted: rgba(77, 147, 117, 0.4);
	--color-accent-subtle: rgba(77, 147, 117, 0.15);
	--color-action-list-item-default-hover-bg: #181818;
	--color-attention-fg: #d4976c;
	--color-attention-muted: rgba(212, 151, 108, 0.4);
	--color-attention-subtle: rgba(212, 151, 108, 0.15);
	--color-border-default: #2f363d;
	--color-border-muted: #191919;
	--color-btn-active-bg: #4d9375;
	--color-btn-bg: #2f363d;
	--color-btn-border: #4d9375;
	--color-btn-counter-bg: #4d9375;
	--color-btn-hover-bg: #4d9375;
	--color-btn-hover-border: #4d9375;
	--color-btn-inset-shadow: 0 0 transparent;
	--color-btn-outline-text: #dbd7ca;
	--color-btn-primary-bg: #4d9375;
	--color-btn-primary-border: transparent;
	--color-btn-primary-disabled-bg: rgba(77, 147, 117, 0.4);
	--color-btn-primary-disabled-border: transparent;
	--color-btn-primary-disabled-text: #dedcd5;
	--color-btn-primary-hover-bg: #4d9375;
	--color-btn-primary-hover-border: #4d9375;
	--color-btn-primary-inset-shadow: 0 0 transparent;
	--color-btn-primary-selected-bg: #4d9375;
	--color-btn-primary-selected-shadow: 0 0 transparent;
	--color-btn-primary-shadow: 0 0 transparent;
	--color-btn-primary-text: #121212;
	--color-btn-selected-bg: #4d9375;
	--color-btn-shadow: 0 0 transparent;
	--color-btn-text: #dbd7ca;
	--color-canvas-default: #121212;
	--color-canvas-inset: #191919;
	--color-canvas-overlay: #181818;
	--color-canvas-subtle: #181818;
	--color-danger-fg: #cb7676;
	--color-danger-muted: rgba(203, 118, 118, 0.4);
	--color-danger-subtle: rgba(203, 118, 118, 0.15);
	--color-fg-default: #dbd7ca;
	--color-fg-muted: #dedcd5;
	--color-fg-subtle: #dedcd5;
	--color-neutral-muted: rgba(222, 220, 213, 0.15);
	--color-prettylights-syntax-comment: #758575;
	--color-prettylights-syntax-constant: #c99076;
	--color-prettylights-syntax-entity: #80a665;
	--color-prettylights-syntax-entity-tag: #4d9375;
	--color-prettylights-syntax-invalid-illegal-bg: rgba(253, 174, 183, 0.15);
	--color-prettylights-syntax-invalid-illegal-text: #fdaeb7;
	--color-prettylights-syntax-keyword: #4d9375;
	--color-prettylights-syntax-markup-bold: #dbd7ca;
	--color-prettylights-syntax-markup-changed-bg: rgba(194, 78, 0, 0.4);
	--color-prettylights-syntax-markup-changed-text: #ffab70;
	--color-prettylights-syntax-markup-deleted-bg: rgba(134, 24, 29, 0.4);
	--color-prettylights-syntax-markup-deleted-text: #fdaeb7;
	--color-prettylights-syntax-markup-heading: #4d9375;
	--color-prettylights-syntax-markup-ignored-text: #2f363d;
	--color-prettylights-syntax-markup-inserted-bg: rgba(20, 70, 32, 0.4);
	--color-prettylights-syntax-markup-inserted-text: #85e89d;
	--color-prettylights-syntax-markup-italic: #dbd7ca;
	--color-prettylights-syntax-storage-modifier-import: #dbd7ca;
	--color-prettylights-syntax-string: #c98a7d;
	--color-prettylights-syntax-variable: #bd976a;
	--color-primer-shadow-inset: 0 0 transparent;
	--color-scale-blue-8: #6394bf;
	--color-scale-gray-7: #2f363d;
	--color-segmented-control-bg: #121212;
	--color-segmented-control-button-bg: #181818;
	--color-segmented-control-button-selected-border: #dedcd5;
	--color-social-reaction-bg-hover: var(--color-scale-gray-7);
	--color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
	--color-success-fg: #85e89d;
}

main .gsc-comment-box-textarea::placeholder {
	color: #dedcd5;
}

main .gsc-loading-image {
	background-image: url("https://giscus.app/images/loading-dark.svg");
}
