---
import portrait from '@assets/portrait.png'
import '@styles/code.css'
import '@styles/prose.css'
import { Image } from 'astro:assets'
import { Content } from '@components/fragments/index.md'
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Steele Shreve - Home">
    <section class="slide-enter-content">
        <div>
            <h1>
                Hey, I'm Steele,
                <span>Software Engineer.</span>
            </h1>
            <Image src={portrait} alt="Portrait of Steele Shreve" />
        </div>
        <article class="proseContainer">
            <Content />
        </article>
    </section>
</BaseLayout>

<style scoped>
    h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @media (max-width: 768px) {
        h1 {
            align-items: center;
        }
    }

    section > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    h1 > span {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        color: var(--primary-6);
        font-family: 'Reenie Beanie', cursive;
    }

    img {
        width: 8rem;
        height: 8rem;
        border-radius: 20%;
        filter: grayscale(100%);
        border: 1px solid var(--primary-1);
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
        section > div {
            flex-direction: column-reverse;
            align-items: center;
            gap: 1rem;
        }

        h1 {
            text-align: center;
        }

        img {
            width: 10rem;
            height: 10rem;
        }
    }
</style>
