---
import '@styles/global.css'
---

<footer>
    <p>&copy; 2024 Steele Shreve. All rights reserved.</p>
</footer>

<style scoped>
    footer {
        font-size: var(--font-size-0-75);
        margin: 2rem auto;
        max-width: 40rem;
        padding: 0 1rem;
    }

    @media (min-width: 768px) {
        footer {
            padding: 0 2rem;
        }
    }
</style>
