---
import childProcess from "node:child_process";

const version = childProcess
	.execSync(
		'git ls-remote --tags --sort="v:refname" https://github.com/steelesh/portfolio.git | tail -n1 | sed "s/.*\\///"',
	)
	.toString()
	.trim();
const hash = childProcess
	.execSync("git rev-parse --short HEAD")
	.toString()
	.trim();
---

<footer>
    <p>&copy; 2024 Steele Shreve</p>
    <p id="git-metadata"><a href="https://github.com/steelesh/portfolio" target="_blank" rel="noopener noreferrer">View source</a>&nbsp;({version}, {hash})</p>
    <p id="built-with">Built with <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>, deployed on <a href="https://pages.cloudflare.com/" target="_blank" rel="noopener noreferrer">Cloudflare</a></p>
</footer>

<style>
    footer {
        text-align: center;
        font-size: var(--font-size-0-75);
        margin-top: 6rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    #git-metadata {
        margin-top: 0.5rem;
        font-size: var(--font-size-0-5);
        color: var(--primary-5);
    }
    #built-with {
        margin-top: 2rem;
        font-size: var(--font-size-0-5);
        color: var(--primary-5);
    }
    a {
        color: var(--primary-1) !important;
        border-bottom: 1px solid var(--border-color);
        transition: border-color 0.3s ease-in-out;
    }
    a:hover {
        border-color: var(--border-color-hover);
    }
</style>
