<footer>
    <p>&copy; 2024 Steele Shreve</p>
</footer>

<style>
    footer {
        text-align: center;
        background-color: var(--primary-9-5);
        font-size: var(--font-size-0-75);
        margin-top: 6rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    #git-metadata {
        margin-top: 0.5rem;
        font-size: var(--font-size-0-5);
        color: var(--primary-6);
    }
    #built-with {
        margin-top: 2rem;
        font-size: var(--font-size-0-5);
        color: var(--primary-6);
    }
    a {
        color: var(--primary-1) !important;
        border-bottom: 1px solid var(--border-color);
        transition: border-color 0.3s ease-in-out;
    }
    a:hover {
        border-color: var(--border-color-hover);
    }
</style>
