---
import Search from 'astro-pagefind/components/Search'
---

<div id="searchModal" role="dialog" aria-modal="true" style="display: none;">
    <div class="modalContent">
        <Search
            id="search"
            className="pagefind-ui"
            uiOptions={{ showImages: false }}
        />
    </div>
</div>

<script>
    import { isSearchModalOpen } from '../searchStore'

    const modal = document.getElementById('searchModal')!

    function updateModalVisibility(open: boolean): void {
        if (open) {
            modal.style.display = 'flex'
            document.body.style.overflow = 'hidden'
            document.addEventListener('keydown', handleKeydown, true)
            const searchInput = modal.querySelector<HTMLInputElement>(
                'input[type="search"], input[type="text"]'
            )
            if (searchInput) {
                searchInput.focus()
            }
        } else {
            modal.style.display = 'none'
            document.body.style.overflow = ''
            document.removeEventListener('keydown', handleKeydown, true)
        }
    }

    function handleKeydown(event: KeyboardEvent): void {
        if (event.key === 'Escape') {
            isSearchModalOpen.set(false)
        }
    }

    isSearchModalOpen.subscribe(updateModalVisibility)

    modal?.addEventListener('click', (event) => {
        if (event.target === modal) {
            isSearchModalOpen.set(false)
        }
    })

    function handleGlobalKeydown(event: KeyboardEvent): void {
        if (
            (event.metaKey || event.ctrlKey) &&
            event.key.toLowerCase() === 'k'
        ) {
            event.preventDefault()
            isSearchModalOpen.set(true)
        }
    }

    window.addEventListener('keydown', handleGlobalKeydown)
</script>

<style>
    #searchModal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 1000;
    }

    .modalContent {
        background-color: var(--primary-9-5);
        border: 1px solid var(--primary-8);
        padding: 2rem;
        border-radius: 0.5rem;
        max-width: 38rem;
        width: 100%;
        max-height: 90vh;
        overflow-y: auto;
        margin: auto;
    }
</style>
