---
import '@styles/global.css'
import Footer from '@components/Footer.astro'
import { Nav } from '@components/nav/Nav'
import Head from '@components/Head.astro'

const { pageTitle, pageDescription } = Astro.props
---

<html lang="en">
<Head pageTitle={pageTitle} pageDescription={pageDescription} />
<body>
<div id="content">
    <Nav client:idle pathname={Astro.url.pathname} />
    <main>
        <slot />
    </main>
</div>
<Footer />
</body>
</html>
